/* design.css */
/* Card style */
.card {
	border: 0;
	cursor: pointer;
}

.card-img-top {
	height: 18rem;
	object-fit: cover;
	border-radius: 5px;
}

.artwork-card-title {
	line-height: 1.5rem;
	font-weight: 600 !important;
}

.artwork-card-subtitle {
	color:#b5b5b5;
}

/* Modal style */
.modal-body {
	height: calc(100vh - 150px);
}

.modal-body {
	overflow-y: auto;
}

.modal-body img {
	width: 100%;
}



.custom-line {
	border: 0;
	border-top: 2px solid #ccc;
	width: 50%;
}

.modal-footer button {
	width: 50px;
	padding: 0;
	font-size: 1rem;
	background-color: transparent;
	box-sizing: bod.modal-body-box;
}

.modal-footer svg {
	margin: 0;
}

.remark {
	font-size: 0.8rem;
}


@media (min-width: 1200px) {
	.modal-size {
		max-width: 70%;
	}
	.artwork-modal-container{
		padding: 0rem 5rem;
	}
	.modal-img {
		height: 22rem;
		width: auto;
		object-fit: cover;
	}
}

@media (max-width: 1199px) {
	.modal-size {
		min-width: 80%;
	}
	.modal-img,
	.modal-img5 {
		height: 19rem;
		width: auto;
		object-fit: cover;
	}
} 

@media (max-width: 576px) {
	.lead {
		font-size: 1.1rem;
	}
		.modal-img,
		.modal-img5 {
		height: 16rem;
		width: auto;
		object-fit: cover;
	}
} 

/* Modal scrollbar Style */
/* For WebKit browsers (Chrome, Safari) */
/* Width and height of the scrollbar */
.modal-body::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track (background) */
.modal-body::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle (thumb) */
.modal-body::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
.modal-body::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Lightbox style*/
/* fix react lightbox rendering issue */
/* .custom-lightbox {
	pointer-events: none;
}

.custom-lightbox .lightbox-bod.modal-body {
	pointer-events: auto;
} */

/* fix react ligthbox issue in small screens*/
/* .ReactModal__Body--open {
	.ril__loadingContainer__icon {
		background-size: contain;
		* {
			display: none;
		}
	}
	.ril__outer {
		background-color: rgba(0, 0, 0, 0.8);
	}
	.ril__toolbar {
		background-color: transparent;
	}
	.ril-toolbar-right .ril__toolbarItem {
		display: none;
		border-radius: 100%;
		width: 50px;
		height: 50px;
		text-align: center;
		line-height: 2.2em;
		margin-top: 20px;

		@media only screen and (max-width: 1023px) {
			width: 40px;
			height: 40px;
			line-height: 1.8em;
		}
		&:last-child {
			display: inline-block;
		}
	}

.ril-image-next,
.ril__imageNext {
		@media only screen and (max-width: 1023px) {
			transform: 100%;
			width: auto;
		}
	}
	.ril-image-current {
			@media only screen and (max-width: 1023px) {
				transform: 0%;
				width: auto;
			}
		}
		.ril-image-prev,
		.ril__imagePrev {
				@media only screen and (max-width: 1023px) {
					transform: -100%;
					width: auto;
				}
			}
} */
